header {
    padding: 10px;
    background: #fff;
    
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1400px;
        margin: auto;

        .title_wrap {
            display: flex;
            align-items: center;
        }

        #site-title {
            font-family: 'Kaushan Script';
            font-family: 'Kaushan Script';
            font-size: 2.2rem;
            text-decoration: none;
            color: #27374c;
        }

        .navlinks_list {
            display: flex;

            .btn-wrap {
                margin: 0 20px;
            }
        }
    }
}