#login_section {
    max-width: 400px;
}

#login_form {
    .field_wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        margin: 8px auto;
    }
}